---
title: Grid Utilities
---

<h2>layout-grid</h2>
<ul role="list" class="layout-grid docs--outline-children">
  <li>Lorem ipsum dolor.</li>
  <li>Aspernatur dolore, eligendi!</li>
  <li>Cumque, debitis, necessitatibus.</li>
</ul>

<h2>layout-grid--columns</h2>
<ul role="list" class="layout-grid layout-grid--column docs--outline-children">
  <li>Lorem, ipsum dolor.</li>
  <li>Consectetur, corporis eum.</li>
  <li>Quas, expedita ratione!</li>
</ul>

<h2>layout-grid--auto-fit</h2>
<ul role="list" class="layout-grid layout-grid--auto-fit docs--outline-children">
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Ullam quod laborum dignissimos nostrum.</li>
  <li>Necessitatibus et facere sint. Explicabo.</li>
</ul>

<h2>layout-grid--sidebar</h2>
<div class="layout-grid layout-grid--sidebar docs--outline-children">
  <div>Sidebar content is here</div>
  <article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium possimus distinctio accusantium?</p>
    <p>Placeat nobis delectus fugiat error similique aut ad perferendis tenetur sit. Voluptatum!</p>
    <p>Dicta assumenda, qui voluptatum illo sequi nam quo nisi quos tempora nulla.</p>
  </article>
</div>

<h2>layout-grid--centered</h2>
<div class="layout-grid layout-grid--centered docs-container docs--outline-children">
  <p>Lorem, ipsum dolor.</p>
</div>

<h2>layout-grid--stack</h2>
<div class="layout-grid layout-grid--stack">
  <img src="https://source.unsplash.com/LeG68PrXA6Y/800x500" alt="">
  <h3>Layout Stack</h3>
</div>
