---
title: Images
---

<h2>default</h2>
<img class="image" src="https://source.unsplash.com/e3OSaoc7EuE/650x350" width="650" height="350" alt="Pink and purple small flourescent jellyfish with white spotted caps float in inky darkness." />

<h2>image--fullwidth</h2>
<img class="image image--fullwidth" src="https://source.unsplash.com/e3OSaoc7EuE/650x350
" alt="Pink and purple small flourescent jellyfish with white spotted caps float in inky darkness." width="650" height="350">

<h2>image with --image-aspect-ratio</h2>
<img class="image" style="--image-aspect-ratio: 3/1;" src="https://source.unsplash.com/e3OSaoc7EuE/650x350
" alt="Pink and purple small flourescent jellyfish with white spotted caps float in inky darkness." width="650" height="350">

<h2>images in a grid</h2>
<ul role="list" class="layout-grid layout-grid--auto-fit" style="--image-aspect-ratio: 1;  --ratio-unsupported-height: max(15rem, 25vh);">
  <li><img class="image image--fullwidth" src="https://source.unsplash.com/e3OSaoc7EuE/450x800" alt="" width="450" height="800"></li>
  <li><img class="image image--fullwidth" src="https://source.unsplash.com/e3OSaoc7EuE/350x400" alt="" width="350" height="400"></li>
  <li><img class="image image--fullwidth" src="https://source.unsplash.com/e3OSaoc7EuE/600x300" alt="" width="600" height="300"></li>
</ul>



