---
title: Typography
---

<h1>h1: Almost before we knew it, we had left the ground.</h1>
<h1>supercalifragilisticexpialidocious</h1>
<h2>h2: Almost before we knew it, we had left the ground.</h2>
<h3>h3: Almost before we knew it, we had left the ground.</h3>
<h4>h4: Almost before we knew it, we had left the ground.</h4>

<hr>

<article>
  <h1>Lorem ipsum dolor sit amet.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae omnis nesciunt magnique enim porro tempore.</p>
  <p>Iste in repellendus, <strong>modi voluptate molestias</strong> accusamus nulla voluptatum nesciunt, sapiente reprehenderit quae. A, laudantium.</p>
  <p>Eos, doloribus! <em>Tempora reiciendis</em>, iste mollitia eum doloremque voluptates eos quam quo libero? Temporibus, soluta!</p>
  <h2>Lorem ipsum dolor sit.</h2>
  <h3>Lorem ipsum dolor sit amet consectetur.</h3>
  <p>Lorem ipsum, <a href="#">dolor sit amet consectetur</a> adipisicing elit. Iure autem suscipit sequi alias dolorem molestias nesciunt ratione dignissimos.</p>
  <p>Optio sapiente praesentium mollitia? Mollitia neque magni, fuga consequuntur dolor ratione voluptate. Sunt numquam tenetur nostrum laboriosam magni?</p>
  <h4>Lorem ipsum dolor sit.</h4>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum quos magni eos dolores velit recusandae reprehenderit veritatis amet dolorem consequatur eius tempore ratione, vero quam iusto, laudantium harum quaerat minus.</p>
  <h2>Lorem ipsum dolor sit.</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deserunt blanditiis voluptas eos pariatur nihil alias commodi quas?</p>
  <h3>Lorem ipsum dolor sit amet.</h3>
  <ul>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
    <li>Fugit repellat dolor eaque. Ipsum, officiis aspernatur!</li>
    <li>Praesentium, in reiciendis! Ipsa in sint doloribus.</li>
  </ul>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi doloremque facere quisquam? Numquam omnis sunt explicabo repellendus vel, odio animi beatae nobis temporibus accusantium at fugiat dignissimos magni porro.</p>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, debitis? Maxime, nesciunt iste! Pariatur consequatur accusantium, inventore ad quibusdam, culpa, unde voluptatem maiores atque sed molestias amet aliquam accusamus tempora?</li>
    <li>Architecto aspernatur delectus, modi doloremque vero accusamus iste minima sint quae, quidem, libero excepturi similique in! Asperiores saepe tempora a eligendi corporis! Atque, officiis fugiat architecto magni corrupti aliquid explicabo?</li>
  </ul>
  <h3>Lorem ipsum dolor sit.</h3>
  <blockquote>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque commodi ut consequuntur reiciendis rem magni?</p>
  </blockquote>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos dicta sapiente incidunt ullam animi libero!</p>
  <a href="#">Lorem, ipsum.</a>
</article>
