---
title: Cards
---

<ul role="list" class="layout-grid layout-grid--auto-fit" style="--min: 30ch;">
  <li class="card">
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus obcaecati, amet rem animi fugit deserunt.</p>
  </li>
  <li class="card">
    <h3><a href="#">Lorem ipsum dolor sit.</a></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Minus obcaecati, amet rem animi fugit deserunt.</p>
  </li>
  <li class="card">
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor.
    </p>
    <a href="#" class="button">Lorem.</a>
  </li>
  <li class="card">
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus obcaecati, amet rem animi fugit deserunt.</p>
    <ul role="list" class="layout-flex">
      <li><a href="#" class="button">Lorem.</a></li>
      <li><a href="#" class="button">Fugit.</a></li>
    </ul>
  </li>
  <li class="card">
    <img class="image image--fullwidth" style="--image-aspect-ratio: 2/1"src="https://source.unsplash.com/E8Ufcyxz514/400x300" width="400" height="300" alt="">
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus obcaecati, amet rem animi fugit deserunt.</p>
  </li>
  <li class="card">
    <h3>Lorem ipsum dolor sit.</h3>
    <img class="image image--fullwidth" style="--image-aspect-ratio: 1" src="https://source.unsplash.com/E8Ufcyxz514/400x300" width="400" height="300" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus obcaecati, amet rem animi fugit deserunt.</p>
  </li>
  <li class="card">
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus obcaecati, amet rem animi fugit deserunt.</p>
    <img class="image image--fullwidth" src="https://source.unsplash.com/E8Ufcyxz514/400x300" width="400" height="300" alt="">
  </li>
</ul>
