---
title: Hero
---

<h2>hero--centered</h2>
<header class="hero hero--centered background-primary">
  <h1>Lorem ipsum dolor sit.</h1>
  <a href="#">Sign up now</a>
</header>

<h2>hero--image-stack</h2>
<header class="hero hero--image-stack layout-grid layout-grid--stack">
  <img src="https://source.unsplash.com/LeG68PrXA6Y/1200x800" alt="">
  <div class="hero__content">
    <h1>Lorem ipsum dolor sit.</h1>
    <a href="#">Sign up now</a>
  </div>
</header>
