---
title: Landing Page
---

<body class="template-landing-page">
  <nav class="navbar navbar--divided background-primary">
    <a class="navbar-image" href="#">
      <img src="/img/acme.png" alt="Acme" width="60" height="60" />
    </a>
    <ul role="list" class="layout-flex">
      <li><a href="#">Products</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#" class="button button--outlined">Sign Up</a></li>
    </ul>
  </nav>

  <header class="hero hero--image-stack layout-grid layout-grid--stack">
    <img src="https://source.unsplash.com/LeG68PrXA6Y/1200x800" alt="" />
    <div class="hero__content color-primary">
      <h1>Acme Co.</h1>
      <a href="#" class="button">Sign up now</a>
    </div>
  </header>

  <main>
    <article class="container section">
      <h2>Why Choose Acme Co.</h2>

      <div class="layout-grid layout-grid--auto-fit">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae alias veritatis sed exercitationem id quos? Pariatur cumque perferendis eum doloribus fuga tempore repellat voluptates doloremque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus delectus corrupti alias obcaecati unde eius temporibus numquam?</p>
      </div>
    </article>

    <section class="background-primary section--padded">
      <div class="container layout-grid layout-grid--auto-fit" style="--min: 30ch">
        <div class="content">
          <h2 class="h3">Why Sign Up</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Dicta veniam eum eaque omnis delectus.</li>
            <li>Quo esse distinctio officiis. Enim, laudantium.</li>
            <li>Nam ut culpa eum velit ad!</li>
          </ul>
        </div>
        <form action="" class="card" style="--card-gutter: 2rem">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-field" type="text" id="name" name="name" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-field" type="email" id="email" name="email" />
          </div>
          <div class="form-group">
            <button type="submit" class="button">Sign Up</button>
          </div>
        </form>
      </div>
    </section>

    <section class="container">
      <h2>From the Blog</h2>
      <div
          class="layout-grid layout-grid--auto-fit"
          style="
          --image-aspect-ratio: 3/2;
          --ratio-unsupported-height: min(12rem, 25vh);
          ">
        <article class="card">
          <img
              class="image image--fullwidth"
              src="https://source.unsplash.com/YLON65WYjDk/400x300"
              alt=""
          />
          <h3 class="h4">Lorem ipsum sit amet consectetur</h3>
          <p>
            Lorem ipsum dolor sit consectetur adipisicing elit. Excepturi,
            ducimus? Velit expedita fuga eius nam.
          </p>
          <a href="#">Read more</a>
        </article>
        <article class="card">
          <img
              class="image image--fullwidth"
              src="https://source.unsplash.com/zDh86SEwSKo/300x500"
              alt=""
          />
          <h3 class="h4">Iure porro exercitationem</h3>
          <p>
            Vero quos maxime ipsam laboriosam vel illum hic rerum reiciendis, ut
            et quasi?
          </p>
          <a href="#">Read more</a>
        </article>
        <article class="card">
          <img
              class="image image--fullwidth"
              src="https://source.unsplash.com/tmvB88zXbxY/400x400"
              alt=""
          />
          <h3 class="h4">Dignissimos doloremque animi!</h3>
          <p>
            Delectus, alias ut. Porro cumque vel quis ipsa beatae amet deserunt
            eos veritatis .
          </p>
          <a href="#">Read more</a>
        </article>
      </div>
    </section>
  </main>
  <footer class="navbar background-grey-light">
    <ul role="list" class="layout-flex">
      <li><a href="#">Products</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#" class="button">Sign Up</a></li>
    </ul>
  </footer>

</body>
