@use "../color-tokens" as *;

@each $color in $base-color-tokens {
  .background-#{$color} {
    background-color: var(--color-#{$color});
    color: var(--color-on-#{$color});
  }

  .color-#{$color} {
    color: var(--color-#{$color});
  }

  .color-on-#{$color} {
    color: var(--color-on-#{$color});
  }
}

$greys: "medium", "light" !default;

@each $shade in $greys {
  .background-grey-#{$shade} {
    background-color: var(--grey-#{$shade});

    @if ($shade == "medium") {
      color: #fff;
    }
  }
}
