// img class could move to reset
img[width] {
  height: auto;
}

.image {
  aspect-ratio: var(--image-aspect-ratio);
  max-height: var(--image-max-height);
  object-fit: cover;

  //@supports not (aspect-ratio: 1) {
  //  height: var(--ratio-unsupported-height) !important;
  //}

  &--fullwidth {
    width: 100%;
  }

}
