.container {
  width: min(var(--container-width, 80ch), 100vw - 3rem);
  margin-right: auto;
  margin-left: auto;
}

section,
.section {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.section--padded {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.layout-flex {
  --gap: 2rem;
  --wrap: wrap;

  display: flex;
  flex-wrap: var(--wrap);
  gap: var(--gap);
}

.inclusively-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
