---
layout: base.njk
title: Docs
---
<ul>
{% for page in collections.docs -%}
  <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
{% endfor -%}
</ul>

<h2>Templates</h2>
<ul>
  {% for page in collections.templates -%}
    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
  {% endfor -%}
</ul>
